Package: vcpicker-dbgsym
Package-Type: ddeb
Source: vcpicker
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: VAXP Team <team@vaxp.org>
Installed-Size: 61
Depends: vcpicker (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for vcpicker
Build-Ids: f5892a78fd5bc0bb3a900167b8257794f08e5e87
